---
import SkillBox from "../atoms/SkillBox.astro";
import TechIcons from "../molecules/TechIcons.astro";
import { skillsData } from "../../constant";
---

<div
  class="m-auto min-h-screen flex items-center justify-center flex-col w-full gap-5 md:gap-10"
  id="skill"
>
  <h2 class="uppercase text-xl font-serif text-gray-700">Thinks I know</h2>
  <div class="flex flex-col md:flex-row gap-5 md:gap-10 items-start w-full">
    <div
      class="flex flex-col gap-5 md:gap-10 justify-center items-center md:items-end w-full"
    >
      {
        skillsData
          .slice(0, 3)
          .map((each) => (
            <SkillBox
              isTextRight={true}
              htmlString={each.title}
              value={each.items.join(" <br /> ")}
            />
          ))
      }
    </div>
    <TechIcons />
    <div
      class="flex flex-col gap-10 justify-center items-center md:items-start w-full"
    >
      {
        skillsData
          .slice(3)
          .map((each) => (
            <SkillBox
              htmlString={each.title}
              value={each.items.join(" <br /> ")}
            />
          ))
      }
    </div>
  </div>
</div>
